.formContainer {
  width: 1225px;
  margin: 0 auto;
}

.verticalInput {
  border-radius: 0;
  width: 40px;
  /*padding-left: 11px;*/
  /*padding-right: 0;*/
}

.mt2 {
  margin-top: 2px;
}

.mt3 {
  margin-top: 3px;
}

.border-r {
  border-right: 1px solid rgba(0, 0, 0, 0.85);
}

.border-l {
  border-left: 1px solid rgba(0, 0, 0, 0.85);
}

.border-t {
  border-top: 1px solid rgba(0, 0, 0, 0.85);
}

.border-b {
  border-bottom: 1px solid rgba(0, 0, 0, 0.85);
}

.border-4b {
  border-bottom: 4px solid rgba(0, 0, 0, 0.85);
}

.el-input.is-disabled .el-input__inner {
  background-color: #fff;
}

.el-form--inline .el-form-item {
  margin-right: 0;
}

.w100 {
  width: 100px;
}

.w860 {
  width: 858px;
}

.w101 {
  width: 101px;
}

.w99 {
  width: 99px;
}

.w109 {
  width: 109px;
}

.w378 {
  width: 378px;
}

.h41 {
  height: 41px;
}

.w200 {
  width: 200px;
}

.w220 {
  width: 220px;
}

.w738 {
  width: 738px;
}

.w157 {
  width: 157px;
}

.w158 {
  width: 158px;
}

.h80 {
  height: 80px;
  line-height: 80px;
}

.w300 {
  width: 300px;
}

.w118 {
  width: 118px;
}

.w170 {
  width: 170px;
}

.h44 {
  height: 41px;
}

.btns-submit {
  margin-top: 65px;
  float: right;
  margin-bottom: 200px;
  margin-right: 160px;
}

.btn-submit {
  margin-left: 45px;
}

.w120 {
  width: 120px;
}

.w110 {
  width: 110px;
}

.w119 {
  width: 119px;
}

.flex-down {
  position: absolute;
  margin-top: 38px;
}

.w138 {
  width: 138px;
}

.mt1 {
  margin-top: 1px;
}

.flex-up {
  margin-top: -38px;
  position: absolute
}

.ml300 {
  margin-left: 300px;
}

.ml100 {
  margin-left: 115px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.ml500 {
  margin-left: 500px;
}

.ml700 {
  margin-left: 700px;
}

.w600 {
  width: 600px;
}

.w400 {
  width: 400px;
}
